  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"message": "*feat: zzz*", "release": false},
        {"type": "feat", "release": "minor"},
        {"type": "fix", "release": "patch"},
        {"type": "BREAKING", "release": "major"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
