{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        { "message": "yyy", "release": "patch" },
        { "message": "feat: xxx*", "release": "minor" },
        { "message": "*", "release": false }
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
